body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height:1;
}


.jumbotron {
 
  align-items: center;
  text-align: center;
    background-color: rgb(112, 159, 245);
    color:whitesmoke;
    border-radius: 0;
    height: 150px;
    border-bottom: 10px solid black;
}
.btn {
  display: block;
    
}
.btn.btn-sm{
  margin: 7px;
  margin-left: -15px;
}